<% layout('layouts/home') %>
    <div class="header index-background">
        <%- include('../partials/globalNav') %>

            <div class="index-display">
                <div class="secondary-title index-title">&lt;3 Gallery</div>
                <% for(let a of art) {%>
                    <% if(a.image.length){ %>
                        <div class="images">

                            <img src="<%= a.image[0].url%>" alt="" class="images-side images-side-front">

                            <% }else{ %>
                                <img src="https://res.cloudinary.com/djj2nhj8d/image/upload/v1670015214/YelpCamp/zshtmbowhix1ihrmytfu.png"
                                    alt="" class="index-display-images">
                                <% } %>

                                    <div class="images-side images-side-back">

                                        <div class="images-info-box">
                                            <p class="images-info-title">
                                                <%= a.title %>
                                            </p>
                                            <p class="images-info-price">
                                                £<%= a.price %>
                                            </p>
                                            <p class="images-info-description">
                                                <%= a.description %>
                                            </p>
                                            <a href="/art/<%= a._id %>" class="button button-white">View</a>

                                        </div>
                                    </div>
                        </div>
                        <%} %>
            </div>

            <%- include('../partials/footer') %>