<% layout('layouts/boilerplate') %>
    <div class="art-title">
        <%= art.title %>
    </div>
    <div class="row">
        <div class="col-8">
            <img class="img-show" src="<%= art.image[0].url %>" alt="">
        </div>
        <div class="col-2">
            <h1>
                £<%= art.price %>
            </h1>
            <p>
                <%= art.description %>
            </p>
            <p><a href="/art/<%= art.id %>/edit"> edit</a></p>

            <form action="/art/<%= art.id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>